.container {
	background: var(--color-background-light);
  max-width: 233px;
  width: 100%;
  border-right: 1px solid var(--color-border);
  
  ul {
    margin: 0;
    padding-left: 0;
  }
}

.element_wrapper {
	display: flex;
  align-items: center;
  gap: 14px;
  height: 32px;
  padding-left: 20px;

  &:nth-child(5) {
    background: var(--color-text-dark)
  }
}

.element {
	list-style: none;
	font-weight: 400;
	font-size: 14px;
  color: var(--color-text-light);
}
