:root {
	--color-background-light: #27272a;
	--color-background-dark: #202124;
	--color-text-light: #ffffff;
	--color-text-dark: #a1a1aa;
	--color-border: #414144;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}
